*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.hero{
  position: relative;
  width: 100%;
  heigth: 100vh;
  background: #dec3d8;
}
nav{
  display: flex;
  width: 84%;
  margin:auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
nav ul li a:hover{
  font-weight: bold;
}

.u2{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.a2{
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

nav ul li a2:hover{
  font-weight: bold;
}

.detel{
  margin-left: 8%;
  margin-top: 5%;
}
.about-content{
  margin-left: 8%;
  margin-top: 30%;
  padding: 10px;
}

cite {
    font-style: italic;
    color: #555; /* Adjust the color as needed */
}
.detel2{
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 15%;
}

.heading-container {
  display: flex; /* Display children side by side */
  align-items: center; /* Vertically center the children */
  padding: 0 0;
  justify-content: space-between;
}

.heading-icon {
  width: 24%;
  height: 19%;
  margin-right: 15%; /* Adjust the margin as needed */
}
.icon2 {
  width: 40%;
  height: 10%;
  margin-left: 0%; /* Adjust the margin as needed */
}
